:root {
    --background-color: #2D3639;
    --sidebar-width: 400px;
    --sidebar-color: #60696e;
    --block-color: #475054;
    --outline-color: black;
    --sidebar-outline-color: #7d898f;
    --pixel-size: 1px;
    --grid-size: 30px;
    --corner-size: calc(var(--pixel-size)*4)
}

body {
    font-family: 'Roboto Mono', monospace;
    color: lightgray;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    background-color: var(--background-color);
}

div::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
div::-webkit-scrollbar-thumb {
    background-color: #475054;
}

[contenteditable="true"] {
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"]:focus {
    outline: 0px solid transparent;
}
[contenteditable="true"] br {
    display:none;

}
[contenteditable="true"] * {
    display:inline;
    white-space:nowrap;
}

.jtk-endpoint.outflow::before {
    content: "";
    position: absolute;
    z-index: 1000;

    
    margin-left: -15px;
    margin-top: -12px;
    width: 23px;
    height: 23px;
    background-color: var(--sidebar-color);
    border-radius: var(--corner-size);
    
    transform: rotate(45deg);
    
    border-top: var(--pixel-size) solid var(--sidebar-outline-color);
    border-right: var(--pixel-size) solid #42494d;

    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.jtk-endpoint.outflow.port::before {
    background-color: var(--block-color);
    border-radius: calc(var(--corner-size)/2);
    border: 0;
}

.jtk-endpoint.inflow {
    width: 20px !important;
    height: 20px !important;
    z-index: 100;
    margin-left: -10px;
    margin-top: -10px;
    
}
.jtk-endpoint.inflow.jtk-endpoint-full::after {
    background-color: white;
}
.jtk-endpoint.inflow::before {
    content: "";
    position: absolute;
    z-index: 50;

    border-radius: var(--corner-size);
    width: 30px;
    height: 30px;
    margin-top: -6px;

    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);

    background-color: var(--sidebar-color);
    border-top: var(--pixel-size) solid var(--sidebar-outline-color);
    border-left: var(--pixel-size) solid var(--sidebar-outline-color);
    border-bottom: var(--pixel-size) solid #42494d;
    border-right: var(--pixel-size) solid #42494d;
}
.jtk-endpoint.inflow::after {
    content: "";
    position: absolute;
    z-index: 500;

    
    margin-left: -12px;
    margin-top: -2px;
    width: 22px;
    height: 22px;
    border-radius: var(--corner-size);
    
    transform: rotate(45deg);
    
    border-right: var(--pixel-size) solid var(--sidebar-outline-color);
    border-top: var(--pixel-size) solid #42494d;
    background-color: var(--background-color);

    clip-path: polygon(0 0, 100% 0, 100% 100%);
}


.context-menu-list {
    filter: drop-shadow(3px 3px 5px #111);
    border-radius: var(--corner-size);
    border-color: var(--sidebar-outline-color);
    background-color: var(--block-color);
}
.context-menu-item {
    background-color: var(--block-color);
    color: white;
}
.context-menu-hover {
    background-color: var(--sidebar-color) !important;
}


.app {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 500%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);

    z-index: 1;
    background-color: var(--sidebar-color);
    padding-top: 0px;

    order: 0;
    flex: 0 0 auto;
    align-self: auto;

    filter: drop-shadow(2px 2px 5px #111);
    outline: var(--pixel-size) solid var(--outline-color);
    /*border: var(--pixel-size) solid var(--sidebar-outline-color);*/
}

.grip {
    background-color: var(--sidebar-color);
    background-image: radial-gradient(#444 50%, transparent 50%);
    background-size: 4px 4px;
    background-repeat: repeat;
    background-position: -0px;
    width: 8px;
    margin-right: 4px;
}

.decl-container.fixed {
    
}
.decl-container {
    display: flex;
    padding: 4px;

    border-top: var(--pixel-size) solid var(--sidebar-outline-color);
    border-left: var(--pixel-size) solid var(--sidebar-outline-color);
    border-bottom: 2px solid black;
    border-right: var(--pixel-size) solid #42494d;

    background-color:var(--sidebar-color);
}

.decl {
    flex-grow: 1;
    width: 100%;
}

.decl .label {
    margin-left: 2px;
    font-size: small;
}

.decl-body {
    margin-top: 4px;
    margin-left: 14px;
    
    min-height: 30px;
    border-bottom: var(--pixel-size) solid var(--sidebar-outline-color);
    border-right: var(--pixel-size) solid var(--sidebar-outline-color);
    border-top: var(--pixel-size) solid #42494d;
    border-left: var(--pixel-size) solid #42494d;
}
.sidebar .input.dark {
    background-color: #475054;
    flex-grow: 1;
}
.sidebar .input div {
    border: 1px solid black;
    padding: 4px;
    padding-left: 8px;
    color: white;
    overflow: hidden;
}
.sidebar .input {
    border-bottom: var(--pixel-size) solid var(--sidebar-outline-color);
    border-right: var(--pixel-size) solid var(--sidebar-outline-color);
    border-top: var(--pixel-size) solid #42494d;
    border-left: var(--pixel-size) solid #42494d;

    flex-grow: 1;
    background-color: #7d898f;
    box-shadow:         inset 2px 2px 3px #333;
}

.handle {
    content: "";
    flex: 0 0 auto;
  position: relative;
  box-sizing: border-box;
  width: 2px;
  background-color: black;
  height: 100%;
  cursor: ew-resize;
  user-select: none;
}

.grid {
    background-size: var(--grid-size) var(--grid-size);
    background-color: var(--background-color);
    background-image: radial-gradient(#202020 2px, transparent 0);
    background-position: calc(-0.5 * var(--grid-size)) calc(-0.5 * var(--grid-size));

    padding: var(--grid-size) var(--grid-size);
    height: 100%;

    order: 0;
    flex: 1 1 auto;
    align-self: auto;

    border: 1px solid var(--outline-color);
}

.block {
    width: 120px;
    position:absolute;
    background-color: #475054;
    z-index: 10;

    -webkit-transform: translate3d(0,0,0);

    filter: drop-shadow(3px 3px 5px #111);
    border-radius: var(--corner-size);
    /*border: var(--pixel-size) solid var(--outline-color);*/
}

.block .header {
    height: var(--grid-size);
    border-radius: var(--corner-size);
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.grid .port {
    margin-top: -5px;
    z-index: 10;
}

.grid .input {
    z-index: 10;
}

.block.flow .header {
    background-color: var(--sidebar-color);
    border-top: var(--pixel-size) solid var(--sidebar-outline-color);
    border-left: var(--pixel-size) solid var(--sidebar-outline-color);
    border-bottom: var(--pixel-size) solid #42494d;
    border-right: var(--pixel-size) solid #42494d;
    
}

.block .header .title {
    padding-top: 0.25rem;
    font-size: 1rem;
}

.block .body {
    height: 0px;
    border-radius: 0 0 4px 4px;
}

.grid .output-label {
    transform: translate(-90%, -50%) !important;
}

.grid .input-label {
    transform: translate(0%, -50%) !important;
    margin-left: -2px;
}

.grid .port-label {
    margin-top: -7px;
    z-index: 10;
}
  
/*
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  */
