body {
    font-family: sans-serif;
    color: lightgray;
    margin: 0;
}
main {
    background-size: 40px 40px;
    background-color:#2a2a2c;
    background-image: linear-gradient(to right, #202020 1px, transparent 1px), linear-gradient(to bottom, #202020 1px, transparent 1px);

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 500%;
    height: 500%;
}
.node {
    width: 200px;
    position:absolute;
    filter: drop-shadow(3px 3px 10px #111);
}
.node.wide {
    width: 300px;
}
.header-endpoint {
    transform: rotate(45deg);
    width: 20px !important;
    height: 20px !important;
    margin-left: 0px;
    margin-top: 0px;
    background: #4171a9 !important;
    border-radius: 0 4px 0 4px;
}
.nonheader-endpoint {
    transform: rotate(45deg);
    width: 20px !important;
    height: 20px !important;
    margin-left: 0px;
    margin-top: 0px;
    background: #3e4249 !important;
    border-radius: 0 4px 0 4px;
}
.header-endpoint:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url(vscode-resource:///graphview/arrow-right-bold.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: -6px; 
    margin-top: 4px;
    margin-left: 4px;
    transform: rotate(-45deg);
}
.header-endpoint img {
    transform: rotate(-45deg);
}
.header {
    background-color: #4171a9;
    height: 40px;
    border-radius: 6px 6px 0 0;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.header.expr {
    background-color: #3e4249 !important;
}
.header.single {
    border-radius: 6px 6px 6px 6px;
}
.header .title {
    padding-top: 0.5rem;
    font-size: 1.25rem;
    font-family: sans-serif;
}
.body {
    background-color: #3e4249;
    height: 80px;
    border-radius: 0 0 6px 6px;
}
.jtk-connector {
    z-index: -10;
}
.output-label {
    transform: translate(-90%, -50%) !important;
}
.input-label {
    transform: translate(0%, -50%) !important;
}
