@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap) screen;
@import "/vnd/jquery-contextmenu.css" screen;

:root {
    --background-color: #2D3639;
    --sidebar-width: 400px;
    --sidebar-color: #60696e;
    --block-color: #475054;
    --outline-color: black;
    --sidebar-outline-color: #7d898f;
    --pixel-size: 1px;
    --grid-size: 30px;
    --corner-size: calc(var(--pixel-size)*4)
}

body {
    font-family: 'Roboto Mono', monospace;
    color: lightgray;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: var(--background-color);
}

nav::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
nav::-webkit-scrollbar-thumb {
    background-color: #475054;
}

[contenteditable="true"] {
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"]:focus {
    outline: 0px solid transparent;
}
[contenteditable="true"] br {
    display:none;

}
[contenteditable="true"] * {
    display:inline;
    white-space:nowrap;
}

.jtk-endpoint.outflow::before {
    content: "";
    position: absolute;
    z-index: 1000;

    
    margin-left: -15px;
    margin-top: -12px;
    width: 23px;
    height: 23px;
    background-color: var(--sidebar-color);
    border-radius: var(--corner-size);
    
    transform: rotate(45deg);
    
    border-top: var(--pixel-size) solid var(--sidebar-outline-color);
    border-right: var(--pixel-size) solid #42494d;

    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.jtk-endpoint.outflow.port::before {
    background-color: var(--block-color);
    border-radius: calc(var(--corner-size)/2);
    border: 0;
}

.jtk-endpoint.inflow {
    width: 20px !important;
    height: 20px !important;
    z-index: 100;
    margin-left: -10px;
    margin-top: -10px;
    
}
.jtk-endpoint.inflow.jtk-endpoint-full::after {
    background-color: white;
}
.jtk-endpoint.inflow::before {
    content: "";
    position: absolute;
    z-index: 50;

    border-radius: var(--corner-size);
    width: 30px;
    height: 30px;
    margin-top: -6px;

    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);

    background-color: var(--sidebar-color);
    border-top: var(--pixel-size) solid var(--sidebar-outline-color);
    border-left: var(--pixel-size) solid var(--sidebar-outline-color);
    border-bottom: var(--pixel-size) solid #42494d;
    border-right: var(--pixel-size) solid #42494d;
}
.jtk-endpoint.inflow::after {
    content: "";
    position: absolute;
    z-index: 500;

    
    margin-left: -12px;
    margin-top: -2px;
    width: 22px;
    height: 22px;
    border-radius: var(--corner-size);
    
    transform: rotate(45deg);
    
    border-right: var(--pixel-size) solid var(--sidebar-outline-color);
    border-top: var(--pixel-size) solid #42494d;
    background-color: var(--background-color);

    clip-path: polygon(0 0, 100% 0, 100% 100%);
}


.context-menu-list {
    filter: drop-shadow(3px 3px 5px #111);
    border-radius: var(--corner-size);
    border-color: var(--sidebar-outline-color);
    background-color: var(--block-color);
}
.context-menu-item {
    background-color: var(--block-color);
    color: white;
}
.context-menu-hover {
    background-color: var(--sidebar-color) !important;
}






.grid .port {
    margin-top: -5px;
    z-index: 10;
}

.grid .input {
    z-index: 10;
}


.grid .output-label {
    transform: translate(-90%, -50%) !important;
}

.grid .input-label {
    transform: translate(0%, -50%) !important;
    margin-left: -2px;
}

.grid .port-label {
    margin-top: -7px;
    z-index: 10;
}
  
/*
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  */

