@import url(/vnd/fontawesome/css/all.min.css);
@import url(/vnd/tailwind-1.2.0.min.css);

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap) screen;
@import "/vnd/jquery-contextmenu.css" screen;

:root {
    --background-color: #2D3639;
    --sidebar-width: 420px;
    --sidebar-color: #60696e;
    --block-color: #475054;
    --outline-color: black;
    --sidebar-outline-color: #7d898f;
    --pixel-size: 1px;
    --grid-size: 30px;
    --corner-size: calc(var(--pixel-size)*4)
}

body {
    font-family: 'Roboto Mono', monospace;
    color: lightgray;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: text;
    background-color: var(--background-color);
}

.ArrowHead div {
    z-index: 10;
}

nav::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
nav::-webkit-scrollbar-thumb {
    background-color: #475054;
}



[contenteditable="true"] {
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"]:focus {
    outline: 0px solid transparent;
}
[contenteditable="true"] br {
    display:none;

}

[contenteditable="true"] * {
    display:inline;
    white-space:nowrap;
}


.context-menu-list {
    filter: drop-shadow(3px 3px 5px #111);
    border-radius: var(--corner-size);
    border-color: var(--sidebar-outline-color);
    background-color: var(--block-color);
}
.context-menu-item {
    background-color: var(--block-color);
    color: white;
}
.context-menu-hover {
    background-color: var(--sidebar-color) !important;
}




.jtk-endpoint {
    /* border: 1px solid green; */
    z-index: 100;
    height: 28px !important;
    width: 28px !important;
}
.jtk-endpoint.output {
    margin-left: -12px;
    margin-top: -12px;
}
.jtk-endpoint.output {
    margin-left: -12px;
    margin-top: -12px;
}
.jtk-endpoint.output.header {
    margin-left: -14px;
    margin-top: -14px;
}
.jtk-endpoint.input {
    margin-left: -18px;
    margin-top: -13px;
}
.jtk-endpoint.inflow {
    margin-top: -16px;
    margin-left: -14px;
}
.jtk-endpoint.outflow {
    margin-left: -12px;
    margin-top: -17px;
    
}

.jtk-endpoint-anchor.jtk-connected.endpoint div {
    background-color: gray !important;
}
.jtk-endpoint-anchor.jtk-connected.inflow div:last-child {
    background-color: white !important;
    opacity: 1 !important;
}

.selected {
    background-color: rgb(75, 126, 28) !important;
    margin-right: -12px;
    padding-right: 16px !important;
}
