@import url(/vnd/fontawesome/css/all.min.css);
@import url(/vnd/tailwind-1.2.0.min.css);

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap) screen;
@import "/vnd/jquery-contextmenu-2.9.2.css" screen;

:root {
    --background-color: #2D3639;
    --sidebar-width: 420px;
    --sidebar-color: #60696e;
    --block-color: #475054;
    --outline-color: black;
    --sidebar-outline-color: #7d898f;
    --pixel-size: 1px;
    --grid-size: 30px;
    --corner-size: calc(var(--pixel-size)*4)
}

body {
    font-family: 'Roboto Mono', monospace;
    color: lightgray;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: text;
    background-color: var(--background-color);
}

.dark {
    background-color: #585f62 !important;
}

.light { 
    background-color: #7d898f !important;
}

.ArrowHead div {
    z-index: 10;
}
.jtk-connected .ArrowTail .arrow {
    display: block !important;
}
.Endpoint.jtk-connected .Ring {
    background: radial-gradient(circle at center center, lightgray 35%, rgb(71, 80, 84) 0px) !important;
}
.jtk-endpoint-anchor {
    z-index: 10;
    
}
.endpoint-anchor {
    opacity: 0;
}
.endpoint-anchor.jtk-dragging {
    transform: rotate(45deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    opacity: 1;
}
.Function.selected {
    border: 0 !important;
    margin-bottom: 1px;
    border-top: 1px solid #42494d !important;
}
.Method.selected {
    /* border: 0 !important; */
    margin-bottom: -1px;
    /* border-top: 2px solid #585f62 !important; */
    border-top: 2px solid #27292a !important;
    border-left: 2px solid #27292a !important;
}


nav::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
nav::-webkit-scrollbar-thumb {
    background-color: #475054;
}



[contenteditable="true"] {
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable]:focus {
    outline: 0px solid transparent;
}
[contenteditable="true"] br {
    display:none;

}

[contenteditable="true"] * {
    display:inline;
    white-space:nowrap;
}


.context-menu-list {
    filter: drop-shadow(3px 3px 5px #111);
    border-radius: var(--corner-size);
    border-color: var(--sidebar-outline-color);
    background-color: var(--block-color);
}
.context-menu-item {
    background-color: var(--block-color);
    color: white;
}
.context-menu-hover {
    background-color: var(--sidebar-color) !important;
}



